<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualisation API</title>
</head>
<body>
    <h1>DAAS Visualisation API</h1>
    <h2>Available Routes: </h2>
    <div>
        <h3>Manufacturer</h3>
        <ul>
            <li><a href="/manufacturer/IdQuantity">/manufacturer/IdQuantity</a></li>
            <li><a href="/manufacturer/NameQuantity">/manufacturer/NameQuantity</a></li>
            <li><a href="/manufacturer/DailyData">manufacturer/DailyData</a></li>
        </ul>
    </div>
    <div>
        <h3>Warehouse</h3>
        <ul>
            <li><a href="/warehouse/IdQuantity">/warehouse/IdQuantity</a></li>
            <li><a href="/warehouse/DailyData">/warehouse/DailyData</a></li>
        </ul>
    </div>
    <div>
        <h3>Medical Store</h3>
        <ul>
            <li><a href="/medicalStore/DailyData">/medicalStore/DailyData</a></li>
        </ul>
    </div>
    <div>
        <h3>Doctor</h3>
        <ul>
            <li><a href="/doctor/NameQuantity">/doctor/NameQuantity</a></li>
        </ul>
    </div>
</body>
</html>